{:paths ["scripts"],
 :tasks {:init (def config {:exec-args {:java-deps-dir "java-deps"}}),
         classpath (exec 'classpath/main config),
         install-deps (exec 'install-deps/main config),
         reinstall-js (exec 'reinstall-js/main)}}
